# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/

# Django related
*.log
*.pot
*.pyc
db.sqlite3
media/

# Static files (usually collected)
staticfiles/

# Local development settings
local_settings.py

# Backup files
*~

# Editor-specific temporary files
.vscode/
.idea/

# Ignore .env file containing sensitive information
.env