{% extends "layout.html" %}

{% block title %}
   Dee-code
{% endblock %}

{% block content %}
   <h1 class="text-center text-white mt-5">
      Your DeeTweet Feeds
   </h1>
   <a class="btn btn-primary mb-4" href="{% url 'tweet_create' %}">
      Create a DeeTweet 
   </a>

   <div class="conatiner mb-10 row gap-3 ml-4">
      {% for tweet in tweets %}
         <div class="card" style="margin-bottom: 6rem; margin-right: 15px; justify-content: center; align-items: center; width: 40%;">
            {% if tweet.photo and tweet.photo.url %}
            <img class="card-img-top" style="object-fit:contain" height="200px" width="100px" src="{{tweet.photo.url}}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{tweet.user.username}}</h5>
            <p class="card-text text-left">{{tweet.text}}</p>
            {% if tweet.user == user %}
                  <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary">Edit</a>
                  <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete</a>
            {% endif %}
            </div>
         </div>
      {% endfor %}
   </div>
{% endblock %}